*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


body{

	

	/* display: grid; */

	place-items: center;

	/* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(image.jpg); */

	/* background-size: 100% 100%; */

	background-repeat: no-repeat;

}

table{
    margin-top: 20px;
    margin-left: 400px;
	width: 600px;

	box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);

}

table, td, th{

	padding: 10px;

	border: 1px solid lightgray;

	border-collapse: collapse;

	text-align: center;

	cursor: pointer;

}

td{

	font-size: 18px;

}

th{

	background-color: blue;

	color: white;

}

tr:nth-child(odd){

	background-color: lightblue;

}

tr:nth-child(odd):hover{

	background-color: dodgerblue;

	color: white;

	transform: scale(1.5);

	transition: transform 300ms ease-in;

}

tr:nth-child(even){

	background-color: #ededed;

}

tr:nth-child(even):hover{

	background-color: lightgray;

	transform: scale(1.5);

	transition: transform 300ms ease-in;


}

.item{
    width: 50px;
    height: 50px;
}
/*  */
    #chk{
    display: none;
    }
    .signup{
    position: relative;
    width:100%;
    height: 100%;
    }
    label{
    color: #eb0e0e;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    }
    input{
    width: 60%;
    height: 50px;
    background: #19c5ce;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    }
    button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #0909ed;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    }
    button:hover{
    background: #b6f009;
    }
    .login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
    }
    .login label{
    color: #b7d510;
    transform: scale(.6);
    }
    
    #chk:checked ~ .login{
    transform: translateY(-500px);
    }
    #chk:checked ~ .login label{
    transform: scale(1);	
    }
    #chk:checked ~ .signup label{
    transform: scale(.6);
    }
    
    .none_style{
        text-decoration: none;
    }

    .container_img{
        margin-top: 20px;
        margin-left: 20px;
        width: 500px;
        height: 500px;

    }
    .container_img img{
        width: 500px;
        height: 500px;
        
    }